<?xml version="1.0"?>
<config>    
	<modules>
	   <Taxjar_Rateupdater><version>0.1.0</version></Taxjar_Rateupdater>
  </modules>
	<global>
		<helpers>
			<rateupdater>
				<class>Taxjar_Rateupdater_Helper</class>
			</rateupdater>
		</helpers>
      <models>
          <rateupdater>
              <class>Taxjar_Rateupdater_Model</class>
          </rateupdater>   
      </models>
      <blocks>
        <rateupdater>
          <class>Taxjar_Rateupdater_Block</class>
        </rateupdater>
      </blocks>
      <events>
          <admin_system_config_changed_section_rateupdater_options>
              <observers>
                  <taxjar_rateupdater_model_observer>
                      <type>singleton</type>
                      <class>Taxjar_Rateupdater_Model_Observer</class>
                      <method>logobs</method>
                  </taxjar_rateupdater_model_observer>
              </observers>
          </admin_system_config_changed_section_rateupdater_options> 
      </events>      
	</global>
  <frontend>
      <routers>
          <rateupdater>
              <use>standard</use>
              <args>
                  <module>Taxjar_Rateupdater</module>
                  <frontName>rateupdater</frontName>
              </args>
          </rateupdater>
      </routers>  
  </frontend>
  <adminhtml>
      <acl>
          <resources>
              <admin>
                  <children>
                      <system>
                          <children>
                              <config>
                                  <children>
                                      <rateupdater_options>
                                          <title>Store Rate Upater Module Section</title>
                                      </rateupdater_options>
                                  </children>
                              </config>
                          </children>
                      </system>
                  </children>
              </admin>
          </resources>
      </acl>
  </adminhtml>
</config>
