<?xml version="1.0"?>
<config>
	<tabs>
		<rateupdaterconfig translate="label" module="rateupdater">
			<label>Rateupdater Config</label>
			<sort_order>99999</sort_order>
		</rateupdaterconfig>
	</tabs>	
	<sections>
		<rateupdater_options translate="label" module="rateupdater">
			<label>Rate Updater Config Options</label>
			<tab>rateupdaterconfig</tab>
			<frontend_type>text</frontend_type>
			<sort_order>1000</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
  			<states translate="label">
  				<label>State to Update</label>
  				<frontend_type>text</frontend_type>
  				<sort_order>1</sort_order>
  				<show_in_default>1</show_in_default>
  				<show_in_website>1</show_in_website>
  				<show_in_store>1</show_in_store>                
        	<fields>
            <rateupdater_apikey>
                <label>API Key</label>
                <frontend_type>text</frontend_type>
                <sort_order>1</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>                    
            </rateupdater_apikey>            
            <rateupdater_state>
                <label>State</label>
                <frontend_type>select</frontend_type>
                <source_model>rateupdater/states</source_model>
                <sort_order>1</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>                    
            </rateupdater_state>
            <run translate="label">
             <label>Run now</label>
             <frontend_type>button</frontend_type>
             <frontend_model>rateupdater/button</frontend_model>
             <sort_order>20</sort_order>
             <show_in_default>1</show_in_default>
             <show_in_website>1</show_in_website>
             <show_in_store>1</show_in_store>
           </run>            
        	</fields>                 
  			</states>
			</groups>
		</rateupdater_options>
	</sections>		
</config>