<?xml version="1.0"?>
<config>    
	<modules>
	   <Taxjar_Salestaxwizard><version>0.1.0</version></Taxjar_Salestaxwizard>
  </modules>
	<global>
		<helpers>
			<salestaxwizard>
				<class>Taxjar_Salestaxwizard_Helper</class>
			</salestaxwizard>
		</helpers>
      <models>
          <salestaxwizard>
              <class>Taxjar_Salestaxwizard_Model</class>
          </salestaxwizard>   
      </models>
      <blocks>
        <salestaxwizard>
          <class>Taxjar_Salestaxwizard_Block</class>
        </salestaxwizard>
      </blocks>
      <events>
          <admin_system_config_changed_section_salestaxwizard>
              <observers>
                  <taxjar_salestaxwizard_model_observer>
                      <type>singleton</type>
                      <class>Taxjar_Salestaxwizard_Model_Observer</class>
                      <method>execute</method>
                  </taxjar_salestaxwizard_model_observer>
              </observers>
          </admin_system_config_changed_section_salestaxwizard> 
      </events>      
	</global>
  <frontend>
      <routers>
          <salestaxwizard>
              <use>standard</use>
              <args>
                  <module>Taxjar_Salestaxwizard</module>
                  <frontName>salestaxwizard</frontName>
              </args>
          </salestaxwizard>
      </routers>  
  </frontend>
  <adminhtml>
      <acl>
          <resources>
              <admin>
                  <children>
                      <system>
                          <children>
                              <config>
                                  <children>
                                      <salestaxwizard>
                                          <title>Store Sales Tax Wizard Module Section</title>
                                      </salestaxwizard>
                                  </children>
                              </config>
                          </children>
                      </system>
                  </children>
              </admin>
          </resources>
      </acl>
  </adminhtml>
  <crontab>
      <jobs>
          <salestaxwizard>
              <schedule><cron_expr>0 8 1 * *</cron_expr></schedule>
              <run><model>salestaxwizard/observer::execute</model></run>
          </salestaxwizard>
      </jobs>
  </crontab>

</config>
