<?xml version="1.0"?>
<config>    
	<modules>
	   <Taxjar_Salestaxautomation><version>0.1.0</version></Taxjar_Salestaxautomation>
  </modules>
	<global>
		<helpers>
			<salestaxautomation>
				<class>Taxjar_Salestaxautomation_Helper</class>
			</salestaxautomation>
		</helpers>
      <models>
          <salestaxautomation>
              <class>Taxjar_Salestaxautomation_Model</class>
          </salestaxautomation>   
      </models>
      <blocks>
        <salestaxautomation>
          <class>Taxjar_Salestaxautomation_Block</class>
        </salestaxautomation>
      </blocks>
      <events>
          <admin_system_config_changed_section_salestaxautomation>
              <observers>
                  <taxjar_salestaxautomation_model_observer>
                      <type>singleton</type>
                      <class>Taxjar_Salestaxautomation_Model_Observer</class>
                      <method>execute</method>
                  </taxjar_salestaxautomation_model_observer>
              </observers>
          </admin_system_config_changed_section_salestaxautomation> 
      </events>      
	</global>
  <frontend>
      <routers>
          <salestaxautomation>
              <use>standard</use>
              <args>
                  <module>Taxjar_Salestaxautomation</module>
                  <frontName>salestaxautomation</frontName>
              </args>
          </salestaxautomation>
      </routers>  
  </frontend>
  <adminhtml>
      <acl>
          <resources>
              <admin>
                  <children>
                      <system>
                          <children>
                              <config>
                                  <children>
                                      <salestaxautomation>
                                          <title>Store Sales Tax Wizard Module Section</title>
                                      </salestaxautomation>
                                  </children>
                              </config>
                          </children>
                      </system>
                  </children>
              </admin>
          </resources>
      </acl>
  </adminhtml>
  <crontab>
      <jobs>
          <salestaxautomation>
              <schedule><cron_expr>0 8 1 * *</cron_expr></schedule>
              <run><model>salestaxautomation/observer::execute</model></run>
          </salestaxautomation>
      </jobs>
  </crontab>

</config>
